.idea
/.vscode
*.DS_Store
/vendor
.env
.tags*
.swp
sftp-config*
bs-config*
.coding-ide/*
nohup*
*.log
.wepycache
.well-known
/upload
node_modules/
.htaccess
admin.php
nginx.htaccess
application/database.php
application/data/install/install.lock
application/extra/maccms.php
